<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> 
      Log In or Join Connections
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="max-w-xl mx-auto flex flex-col">
    <div class="flex-1 mt-8 p-8">
        <span class="text-3xl">Log In or Join <span class="font-bold">Connections</span></span>
        <p class="text-lg mt-4">
          Join a real community of professionals helping each other in their careers or land their next job or business deal.  
        </p>
        <p class="mt-4">
          <span class="text-lg font-bold">Why is it different from LinkedIn?</span>
        </p> 
  
        <div class="text-lg">We knew you would ask. Apart from the fact that you are way cool for LinkedIn here are some of the other reasons:</div>
        <div class="text-lg mt-2">👻 Use your Ghost super-power mode to land your next job without your current employer knowing about it.</div>
        <div class="text-lg mt-2">🌍 Connections let you connect in a meaningful way with professionals globally unlike LinkedIn.</div>
        <div class="text-lg mt-2">😇 Display real you and your growth as a professional by keeping track of your skills as you acquire and use them unlike LinkedIn.</div>
        <div class="mt-4">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="logInWithTwitter()">
                Login with Twitter
            </button>
        </div>
    </div>
  </div>
</ion-content>
