<ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title> 
        Add a skill
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding py-2">
      <div class="mb-4 pr-12 mt-4">
        <label class="block text-gray-700 font-bold mb-2" for="username">
         Your skill
        </label>
        <input class="form-input block appearance-none w-full " id="skill" type="text" placeholder="Programming, Sales, or Marketing">
      </div>
      <div class="mb-4 pr-12 mt-8">
          <label class="block text-gray-700 font-bold mb-2" for="username">
            When did you start using <strong>[skill]</strong>?
          </label>
          <div class="flex flex-wrap">
          <div class="mr-2">
            <select class="form-select">
              <option *ngFor="let m of months">{{m.display}}</option>
            </select>
            </div>
          
            <div class="  ">
                <select class="form-select">
                  <option *ngFor="let y of years" >{{y.display}}</option>
                </select>
                </div>
              </div>
                
        </div>


        <div class="mb-4 pr-12 mt-8">
            <label class="block text-gray-700 font-bold mb-2" for="username">
                When did you last use <strong>[skill]</strong>?
            </label>
            <div>
                <label class="mt-3 flex items-center sm:w-1/4 sm:px-2 lg:w-1/2 xl:w-full">
                  <input class="form-checkbox text-blue-600" type="checkbox" name="balcony">
                  <span class="ml-2">Currently using this skill</span>
                </label>
            </div>
            <div class="flex flex-wrap mt-2">
            <div class="mr-2">
              <select class="form-select">
                <option *ngFor="let m of months">{{m.display}}</option>
              </select>
              </div>
            
              <div class="  ">
                  <select class="form-select">
                    <option *ngFor="let y of years" >{{y.display}}</option>
                  </select>
                  </div>
                </div>
                  
          </div>

          <div class="mt-2">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="dismissModal()">
                  Add this skill
              </button>
          </div>
      
</ion-content>
 