<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Message
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col size="4" >
            <div>
              <ul>
                <li *ngFor="let person of this.ms.chats; let i = index;" (click)="this.selectContact(i)">{{person.personName}}  </li>              </ul>
            </div>
          </ion-col>
          <ion-col size="8">
            <!-- <div id='messsages'>
              <ul>
                <li *ngFor="let msg of this.ms.chatMessages; let i = index;" [id]="i"><b>{{msg.userFrom}} Says:</b><br>{{msg.messageContent}}</li>
              </ul>
            </div> -->

            <ion-grid>
              <ion-row *ngFor="let msg of this.ms.chatMessages; let i = index;" >
                  <ion-col size="9" *ngIf="this.ms.currentPerson.objectId !== msg.userFromId" class="message other-message">
                    <b>{{msg.userFrom}}</b><br>
                    <span>{{msg.messageContent}}</span>
                    <div class="time text-right"><br>
                      {{msg.time | date:'short'}}
                    </div>
                  </ion-col>

                  <ion-col offset="3" size="9" *ngIf="this.ms.currentPerson.objectId === msg.userFromId" class="message my-message">
                    <b>{{msg.userFrom}}</b><br>
                    <span>{{msg.messageContent}}</span>
                    <div class="time text-right"><br>
                      {{msg.time | date:'short'}}
                    </div>
                  </ion-col>     
              </ion-row>
            </ion-grid>
          
            <ion-footer no-shadow>
                <ion-toolbar position="bottom">
                    <ion-textarea [(ngModel)]="newMessage" placeholder="Lets chat..."></ion-textarea>
                    <ion-button color="primary" (click)="this.sendMessage()">Send</ion-button>
                </ion-toolbar>
             </ion-footer>

          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
