<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Connection
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div class="max-w-4xl mx-auto flex flex-col" >
    <div class="flex-1 mt-4">
      <div class="border-b-2 p-3 md:flex" *ngFor="let p of people">
        <img src="https://avatars.io/twitter/{{p.handle}}" class="h-32 w-32 rounded-full mr-6"/> <!-- TODO: Save the image locally when signing up first time or logging in-->
        <div class="person-info ">
          <a class="person-name font-bold text-3xl" href="/@{{p.handle}}">
            {{p.name}}
          </a>
          <div class="person-social">
            <a href="/@{{p.handle}}" class="mr-2 text-gray-600">@{{p.handle}}</a>
            <a href="http://{{p.website}}" class="text-gray-600">
                <svg class="inline" width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 9.5l5-5M6 4l1.672-1.672a2.829 2.829 0 0 1 4 4L10 8M4 6L2.328 7.672a2.829 2.829 0 0 0 4 4L8 10" stroke="#4a5568" fill="none" stroke-linecap="round" stroke-linejoin="round"></path></svg> 
                {{p.website}}
            </a> 
          </div>
          <div class="person-tagline mt-2">
            {{p.tagline}}
          </div>
          <!--<div class="person-follows">
            follows
          </div> -->
          <div class="person-skills mt-2 text-gray-600">
            #react, #java, #uiux, #javascript
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
